[submodule "conference-ci"]
	path = conference-ci
	url = git@github.com:waterlink/conference-ci.git
[submodule "conference-assets"]
	path = conference-assets
	url = git@github.com:waterlink/conference-assets.git
[submodule "conference-dotcloud"]
	path = conference-dotcloud
	url = git@github.com:waterlink/conference-dotcloud.git
[submodule "conference-uploads"]
	path = conference-uploads
	url = git@github.com:waterlink/conference-uploads.git
